<!DOCTYPE html>
<html>
<head>
    <title>Chat-App Login</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    {{{messages}}}
        {{#if errors}}
            {{#each errors}}
                {{msg}}
            {{/each}}
        {{/if}}
    <div class="container">
        {{{body}}}
    </div>
    <script src="/javascripts/bootstrap.js"></script>
</body>
</html>