<!DOCTYPE html>
<html>
<head>
    <title>Chat-App Login</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <div class="container">
        {{#if success_messages}}
            <div class="alert alert-success">{{success_messages}}</div>
        {{/if}}
        {{#if error_messages}}
            <div class="alert alert-danger">{{error_messages}}</div>
        {{/if}}
        {{#if errors}}
            {{#each errors}}
                <div class="alert alert-danger">{{msg}}</div>
            {{/each}}
        {{/if}}
        {{{body}}}
    </div>
    <script src="/javascripts/bootstrap.js"></script>
    <script src="/javascripts/jquery.js"></script>
</body>
</html>