<form class="form-signin" method="post" action="/login">
    <h2 class="form-signin-heading">{{title}}</h2>
    <label class="sr-only">Username</label>
    <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <label class="sr-only">Password</label>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    <br>
    Don't have an account? <a href="/register">Create An Account</a>
</form>
